<header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" [routerLink]="['/dashboard/home']">
            <img src="../../../../../assets/images/poll-logo.jpg" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                            </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto ml-3">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/dashboard/home']" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/events']" routerLinkActive="active" >Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/about']" routerLinkActive="active" >About</a>
                </li>
            </ul>

            <ul class="nav justify-content-end">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/']">{{userName}}</a>
                </li>
                <li class="nav-item">
                  <form class="form-inline">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="button" [routerLink]="['/events/create-event']">Create Event  <i class="fas fa-calendar-week"></i> </button>
                </form>
                </li>
              </ul>


        </div>
    </nav>

</header>