<section class="current-events mt-3">
    <div class="container">
        <div class="row">

            <div class="col-sm-8" >
                <div class="card mb-3" style="max-width: 740px;">
                    <div class="row no-gutters" *ngIf="eventItem">
                        <div class="col-md-4">
                            <img [src]="eventItem.image" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" >{{eventItem.eventName}}</h5>
                                <p class="card-text">{{eventItem.details}}</p>
                                <p class="card-text"><small class="text-muted">{{eventItem.date}}</small></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

                    <div class="col-sm-4">
                        <div class="user-poll-section card">


                            <form [formGroup]="eventVotingForm">
                            <div class="card card-default">
                                    <div class="card-header bg-primary text-white">
                                            <strong>Question : </strong>Which is the best responsive framework to start web designing ?
        
                                </div>

                                <div class="card-body" formArrayName="options">
                                        <ul class="list-group list-group-flush" *ngIf="eventItem">

                                                <li class="list-group-item" *ngFor="let option of eventItem.options; let i = index">
                                                    <div class="checkbox">
                                                        <label>
                                                        <input (change)="onVoteSelected($event)" #checkInput type="checkbox" [formControlName]="i"> {{option}}
                                                    </label>
                                                    </div>
                                                </li> 
                    
                                            </ul>

                                            <br>
                                    <p class="text-danger">Result Of User Votes :</p>
                                    <hr />
                                    <div *ngIf="eventItem" >
                                        <div *ngFor="let option of eventItem.options; let i = index">
                                            {{option}} (60%) :
                                            <div class="progress  progress-bar-striped active">
                                                <div class="progress-bar  bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                                        <span class="sr-only">60% Complete (success)</span>
                                                    </div>
                                            </div>
                                            </div>
                                        </div>

                                            <!-- W3C CSS/HTML Specification (30%) :
                                       <div class="progress progress-bar-striped active">
                                           <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                                               <span class="sr-only">30% Complete (success)</span>
                                           </div>
                                       </div>
                                    Skeleton (10%) :
                                       <div class="progress progress-bar-striped active">
                                           <div class="progress-bar bg-info" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                                               <span class="sr-only">10% Complete (success)</span>
                                           </div>
                                       </div>
                                       Electron (0%) :
                                       <div class="progress progress-bar-striped active">
                                           <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                                               <span class="sr-only">10% Complete (success)</span>
                                           </div>
                                       </div> -->
                                </div>

                                <!-- <div class="card-footer">
                                    <a href="#" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-bell"></span> Mark Your Vote</a>
                                </div> -->
                                <br>
                            </div>
                            </form>

        
                        </div>
                        <!-- POLL DIV END-->
                    </div>
        


        </div>


    </div>

</section>