<section class="current-events mt-3">
    <div class="container">
        <div class="row">

            <div class="col-sm-8" >
                <div class="card mb-3" style="max-width: 740px;">
                    <div class="row no-gutters" *ngIf="eventItem">
                        <div class="col-md-4">
                            <img [src]="eventItem.image" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" >{{eventItem.eventName}}</h5>
                                <p class="card-text">{{eventItem.details}}</p>
                                <p class="card-text"><small class="text-muted">{{eventItem.date}}</small></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

                    <div class="col-sm-4">
                        <div class="user-poll-section card">


                            <form [formGroup]="eventVotingForm">
                            <div class="card card-default" *ngIf="eventItem">
                                    <div class="card-header bg-primary text-white">
                                            <strong>Question : </strong>{{eventItem.eventQuestion}}
        
                                </div>

                                <div class="card-body" formArrayName="options">
                                        <ul class="list-group list-group-flush" *ngIf="eventItem">

                                                <li class="list-group-item" *ngFor="let option of eventItem.options; let i = index">
                                                    <div class="checkbox">
                                                        <label>
                                                        <input (change)="onVoteSelected($event)"  #checkInput type="checkbox" [formControlName]="i"> {{option}}
                                                    </label>
                                                    </div>
                                                </li> 
                    
                                            </ul>

                                            <br>
                                    <p class="text-danger">Result Of User Votes :</p>
                                    <hr />
                                    
                                    <!-- <div *ngIf="eventItem" >
                                        <div  *ngFor="let option of eventItem.options; let i = index">
                                            {{option}} 
                                            <span *ngIf="this.targetCounter">({{this.targetCounter.counter[i]}})</span>
                                            <span *ngIf="!this.targetCounter">(0)</span>:
                                            <div class="progress  progress-bar-striped active">
                                                    <div class="progress-bar  bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" [ngStyle]="setMyStyles(i)">
                                                        <span *ngIf="this.viewVotePercentage" class="">{{this.viewVotePercentage[i] | number}}%</span>
                                                    </div>
                                            </div>
                                            </div>
                                        </div> -->



                                        <div *ngIf="eventItem" >
                                            <div  *ngFor="let option of eventItem.options; let i = index">
                                                {{option}} 
                                                <span *ngIf="this.VoteResultCounter">({{this.VoteResultCounter[i] }})</span>
                                                <span *ngIf="!this.VoteResultCounter">(0)</span>:
                                                <div class="progress  progress-bar-striped active">
                                                        <div class="progress-bar  bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" [ngStyle]="setMyStyles(i)">
                                                            <span *ngIf="this.viewVotePercentage" class="">{{this.viewVotePercentage[i] | number}}%</span>
                                                        </div>
                                                </div>
                                                </div>
                                            </div>



                                </div>

                                <!-- <div class="card-footer">
                                    <a href="#" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-bell"></span> Mark Your Vote</a>
                                </div> -->
                                <br>
                            </div>
                            </form>

        
                        </div>
                        <!-- POLL DIV END-->
                    </div>
        


        </div>


    </div>

</section>