<section class="current-events mt-3">
    <div class="container">
        <h2>Current Events</h2>
        <hr>
        <!-- <div class="row"> -->

            <app-event-list></app-event-list>


            <!-- <div class="col-sm-3">
                <div class="card">
                    <img src=" http://lorempixel.com/200/300/nightlife/" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Hangout</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Particibate</a> <span class="badge badge-danger float-right">Canceld!</span>
                    </div>
                </div>

            </div> -->

            <!-- <div class="col-sm-3">
                <div class="card">
                    <img src=" https://picsum.photos/200/300/?blur" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Iftar Ramadan</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Particibate</a> <span class="badge badge-success float-right">Voted!</span>
                    </div>
                </div>

            </div> -->
        <!-- </div> -->
    </div>
</section>