    <form class="form-signup" (ngSubmit)="onSubmit(signUp)" #signUp="ngForm">
        <div class="mb-4">
            <img class="mb-4" src="../../../../../assets/images/poll-logo.jpg" alt="">
        </div>
        <div class="form-row mb-2">
            <div class="col">
                <label for="FirstName" class=" text-left col pl-0">First Name:</label>
                <input 
                    type="text" 
                    id="FirstName" 
                    class="form-control"
                    required 
                    autofocus
                    ngModel
                    name="firstName"
                    #firstName="ngModel"
                >

                <div  *ngIf="!firstName.valid && firstName.touched"  class="alert alert-danger mt-2">
                    Enter a your first Name
                </div>

            </div>
            <div class="col">
                <label for="LastName" class="text-left col pl-0">Last Name:</label>
                <input 
                    type="text" 
                    id="LastName" 
                    class="form-control" 
                    required 
                    autofocus
                    ngModel
                    name="lastName"
                    #lastName="ngModel"
                >
                <div  *ngIf="!lastName.valid && lastName.touched"  class="alert alert-danger mt-2">
                    Enter a your first Name
                </div>

                <!-- <span *ngIf="!lastName.valid && lastName.touched">Please enter a valid name</span> -->
                
            </div>

        </div>


        <div class="form-row mb-2">
            <div class="col">
                <label for="inputEmail" class="text-left col pl-0">Email address:</label>
                <input 
                    type="email" 
                    id="inputEmail" 
                    class="form-control" 
                    required 
                    autofocus
                    ngModel
                    name="emailAddress"
                    email
                    #email="ngModel"

                >

                <div  *ngIf="!email.valid && email.touched"  class="alert alert-danger mt-2">
                    Enter a Valid Email Address.
                </div>

            </div>
        </div>

        <div class="form-row mb-2">
            <div class="col">
                <label for="inputPassword" class="text-left col pl-0">Password:</label>
                <input 
                    type="password" 
                    id="inputPassword" 
                    class="form-control" 
                    required
                    password
                    ngModel
                    name="password"
                    minlength="6"
                    maxlength="10"
                    #password="ngModel"

                >
                <div *ngIf="!password.valid && password.touched"  class="alert alert-danger mt-2">
                    Password should not less than 6 characters.
                </div>
            </div>
        </div>
        <div  *ngIf="this.errorMessage" class="alert alert-danger mt-2">
            <small>
                {{this.errorMessage}}
            </small>
        </div>
    
        <!-- <span *ngIf="!signUp.valid && signUp.touched">Please enter a valid Data</span> -->

        <button 
            class="btn btn-lg btn-primary btn-block" 
            type="submit" 
            [disabled]="!signUp.valid"
            data-bodystyle="car"
            data-make="BMW"
            data-published="august 2017"
            >Sign Up</button>
        <p class="mt-5 mb-3 text-muted">Already Registerd ? <a [routerLink]="['/auth/login']">Log In Now</a></p>
    </form>
