/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
}

body {
    /* display: -ms-flexbox; */
    /* display: flex; */
    /* -ms-flex-align: center;
    align-items: center; */
    /* padding-top: 40px;
    padding-bottom: 40px; */
    background-color: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
}

header {
    border-bottom: 6px solid #4e85f1;
}